.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(23, 40, 82) 0.00%,rgb(23, 40, 82) 21.00%,rgb(76, 172, 188) 44.00%);
}
.homepage-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: ridge;
  border-width: 0px;
}
.homepage-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage-container03 {
  width: 100%;
  height: 122px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-primary-white);
  border-width: 1px;
  justify-content: flex-start;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.homepage-navlink {
  color: rgb(160, 217, 149);
  width: 25%;
  font-size: 30px;
  text-align: center;
  font-family: Georgia;
  padding-left: 0px;
}
.homepage-navlink1 {
  color: rgb(255, 255, 255);
  width: 25%;
  font-size: 30px;
  text-align: center;
  font-family: Georgia;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.homepage-navlink2 {
  color: rgb(255, 255, 255);
  width: 25%;
  font-size: 30px;
  text-align: center;
  font-family: Georgia;
  padding-right: 0px;
  text-decoration: none;
}
.homepage-text02 {
  font-family: Georgia;
}
.homepage-navlink3 {
  color: rgb(255, 255, 255);
  width: 25%;
  font-size: 30px;
  text-align: center;
  font-family: Georgia;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
.homepage-container04 {
  width: auto;
  height: 210px;
  margin: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.homepage-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-text04 {
  color: rgb(255, 255, 255);
  padding: auto;
  font-size: 60px;
  margin-top: auto;
  font-family: Nunito;
  border-color: #ffffff;
  border-width: 0px;
  margin-bottom: auto;
}
.homepage-container06 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text05 {
  color: rgb(253, 252, 252);
  font-size: 40px;
  text-align: center;
  font-family: Georgia;
  line-height: 1.5;
  padding-bottom: 0px;
}
.homepage-text08 {
  text-align: center;
  padding-bottom: 0px;
}
.homepage-text09 {
  color: #ffffff;
  font-size: 35px;
  font-family: Georgia;
  line-height: 1.5;
}
.homepage-text10 {
  color: #ffffff;
  font-size: 35px;
  font-family: Georgia;
  line-height: 1.5;
}
.homepage-text11 {
  color: #ffffff;
  font-size: 35px;
  font-family: Georgia;
  line-height: 1.5;
}
.homepage-container07 {
  width: 100%;
  
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.homepage-text13 {
  color: #ffffff;
  margin: auto;
  padding: 0px;
  font-size: 50px;
  align-self: flex-start;
  border-color: #ffffff;
  border-width: 0px;
}
.homepage-text14 {
  color: #fdfbfb;
  margin: auto;
  padding: 0px;
  font-size: 50px;
  border-color: #ffffff;
  border-width: 0px;
}
.homepage-container09 {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.homepage-text15 {
  color: #ffffff;
  margin: auto;
  padding: 0px;
  font-size: 50px;
  align-self: flex-start;
  border-color: #ffffff;
  border-width: 0px;
}
.homepage-text16 {
  color: #fdfbfb;
  margin: auto;
  padding: 0px;
  font-size: 50px;
  border-color: #ffffff;
  border-width: 0px;
}
.homepage-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  justify-content: center;
}
.homepage-text17 {
  color: #ffffff;
  font-size: 60px;
  font-family: Nunito;
  padding-top: 150px;
}
.homepage-container11 {
  width: 100%;
  height: 299px;
  display: flex;
  align-items: flex-start;
}
.homepage-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: 299px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text18 {
  align-self: center;
  margin-top: auto;
  text-align: center;
  margin-bottom: auto;
}
.homepage-text19 {
  color: #ffffff;
  font-size: 45px;
  font-family: Georgia;
}
.homepage-text20 {
  color: #ffffff;
  font-size: 40px;
  font-family: Georgia;
}
.homepage-text21 {
  color: #ffffff;
  font-size: 40px;
  font-family: Georgia;
}
.homepage-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: 272px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.homepage-text23 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  align-self: center;
  text-align: center;
  font-family: Georgia;
}
.homepage-text24 {
  font-size: 40px;
  align-self: center;
  font-family: Georgia;
}
.homepage-text25 {
  font-size: 40px;
  align-self: center;
  font-family: Georgia;
}
@media(max-width: 991px) {
  .homepage-text17 {
    margin-top: auto;
    text-align: center;
    padding-top: 0px;
  }
}
@media(max-width: 479px) {
  .homepage-container04 {
    height: 139px;
  }
  .homepage-text13 {
    text-align: center;
  }
  .homepage-text14 {
    text-align: center;
  }
  .homepage-text15 {
    text-align: center;
  }
  .homepage-text16 {
    text-align: center;
  }
  .homepage-text17 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Nunito;
  }
}
